$primary-color: rgb(32, 221, 174);
$primary-color-dim: #0a969b;

$secondary-color: #49ff11;
$alert-color: #f03;
$warning-color: yellow;
$success-color: green;

$grey: #ccc;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;


